slice.protomaps.dev {
    root * /mnt/www

    handle /api/* {
        reverse_proxy localhost:8080
    }

    handle {
        header {
            Access-Control-Allow-Origin "*"
        }
        file_server
    }
}